html, body{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: turquoise;
    line-height: 1.65;
    background-image: url(img/trees.png);
    
}

h1{
    font-family: teko;
}
.container{
    width: 1200px;
    margin: auto;
    /* background-color: rgb(166, 209, 223);  */
}
.footer{
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.menubar{
    font-family: teko;
    font-size: 40px;
    display: flex;
    flex: 9;
    justify-content: space-between;
    padding: 20px 0px 20px 60px;
}

.mid{
    font-family: forte;
    font-size: 50px;
}
a{
    text-decoration:none ;
}
.right{
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;        
}
button{
    border: none;
    text-decoration: none;
    background-color: transparent;
}
.right img{
   width: 40px;
   height: 40px;
}
.logo img{
    display: flex;
    width: 300px ;
    margin: auto;

}
.main{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-between;
    height: ;

}

.layout1 img{
    width: 550px;

}

.layout2{
    width: 240px ;
    flex-direction: column;
    line-height: 1; 
    text-justify: auto;
}
.layout2 img{
    display: flex;
    width: 140px;
    margin: auto;

}
.layout2 h1{
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.layout2 p{
    line-height: 1.6;
    margin-top: 5px;
    text-align: justify;
}


.layout3{
    font-family: teko;
    font-size: 80px; 
    /* background-color: lawngreen; */
    line-height: 0px;
    
}
.layout3 h1{
    /* background-color: lightblue; */
    color: #0074C1;
    margin-top: 50px;
}

.layout4{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(182, 182, 182); */
  
}
.layout4 img{
    display: flex;
    width: 120px ;
    height:150px ;
}

.main2{
    width: 1000px;
    margin-left: 40px ;
}

.subjudul{
    font-size: 40px;
}
.submain img{
    width: 450px;
    height: 250px;
}

.submain{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 250px;
}

.teks{
    width: 530px;
    margin-top: 0px;
}

.teks h1{
    margin: 0px;
    line-height: 1.2;
}
.teks p{
    text-align: justify;
    margin-top: 1px;
    margin-bottom: 1px;
}
.submain button img{
    width: 44px ;
    height: 44px;
}
.tombol{
    display: flex;
    justify-content: flex-end;
}
